
#about {
    background-color: #374C60;
    margin: 20px 0;
}

#schedule {
    margin: 20px 0;
}

#about-content, #event-content {
    padding: 15px 50px 30px 50px;
    color: white;
    font-size: 18px;
}

#event-content {
    color: #374C60;
    text-align: center;
}

#about-content, #schedule-content {
    max-width: 600px;
    margin: auto;
}

table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: baseline;
    font-size: 20px;
    color: #374C60;
}

table td {
    padding: 0.75em 0.75em;
    vertical-align: baseline;
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.25);
}

table tbody tr {
    border: solid 1px #fff;
    border-left: 0;
    border-right: 0;
}

.sub-header {
    line-height: 50px;
}
