#calendar {
    margin: 40px 0;
}

#calendar-content {
    background-color: #374C60;
    box-sizing: border-box;
    padding: 10px;
    min-height: 150px;
}

#calendar-content .content-block {
    width: 95%;
}

.content-block::after {
    content: none;
}

.months { /* Needed for animation effects via JS */
    height: 0px;
    overflow: hidden;
    width:100%;
    box-sizing: border-box;
    transition: all 1s ease;
    opacity: 0;
}

.showing {
    height: auto;
    overflow: auto;
    opacity: 1;
}

.month {
    height: auto;
    border-top: 2px solid #1AB999;
    background-color: #eeeeee;
    box-sizing: border-box;
    line-height: 40px;
    font-size: 20px;
}

.month-header {
    padding-left: 30px;
}

.month:nth-child(4n){
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#space {
    height: calc(100% - 500px);
}

